body {
    display: flex;
    justify-content: center;
}

.container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.panel {
    height: 60px;
    width: 60px;
}