body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#size {
    margin: 25px;
}

/* replace grid-template-columns and grid-template-rows with variables */

.container {
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black;
}

.panel {
    box-sizing: border-box;
    border: 1px solid red;
}