body {
    display: flex;
    justify-content: center;
}

.container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.panel {
    box-sizing: border-box;
    border: 1px solid red;
    height: 60px;
    width: 60px;
}